:root{
    --cor-principal:#4c0bce;
    --cor-secundaria:#E04600;
}

.navbar-brand-logo{
    max-height: 50px;
}
header{
    box-shadow:10px 10px 20px rgba(0,0,0,.2);
}

.nav-pills .nav-link.active, .btn-primary{
    background-color:var(--cor-secundaria);
    border: var(--cor-secundaria);
    opacity: 80%;
    transition: .5s ease;
    color: white;
}
.nav-pills .nav-link.active:hover, .btn-primary:hover{
    background-color:var(--cor-secundaria);
    opacity: 100%;
}

#hero{
    max-height:100vh;
    height: 100%;
    width:100%;
    background:red;
    display:flex;
    align-items:center;
    justify-content: center;
}
#hero::after {
    width:100%;
    height:100%;
    content: '';
    position:absolute;
    z-index:10;
    top:0;
    left:0;
    background:rgba(0,0,0,0.7)
}


#hero video {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    object-fit:cover;
    font-family:'object-fit: cover';
}


#hero .texture {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:15;
    background:url('../texture.png');
}


#hero .caption {

    position:relative;
    z-index:20;
    text-align:center;
    color:#ffffff;
}

.alinhamento{
    height: 800px;
}
.titulo--hero, .descricao--hero{
    color: white;
}
.titulo{
    font-size: 50px;
}
.descricao{
    text-align: justify;
}

#impulsioneResultados{
    background-color: #f8f9fa;
}

#direcionandoTrafego, #impulsioneResultados, #diferenciais, #pacotes{
    padding: 100px 0;
}

.diferenciais-card{
    background-color: var(--cor-principal);
    color: white;
    border-radius: 16px;
    box-shadow:10px 10px 20px rgba(0,0,0,.5);
    transition: .5s ease;
    cursor: default;
}
.diferenciais-card:hover{
    scale: 1.05;
}
.btn-secondary{
    background-color: #4c0bce;
    border: 2px solid #4c0bce;
    transition: .5s ease;
    color: white;
}
.btn-secondary:hover{
    background-color: #4c0bce;
    border: 2px solid white;
    opacity: 100%;
}
.titulo-diferenciais{
    margin-bottom: 90px;
}

#pacotes{
    background-color: var(--cor-secundaria);
    color: white;
}