:root{
    --cor-principal:#5b418d;
    --cor-secundaria:#E04600;
}

.navbar-brand-logo{
    max-height: 50px;
}
header{
    box-shadow:10px 10px 20px rgba(0,0,0,.2);
}

.nav-pills .nav-link.active, .btn-primary{
    background-color:var(--cor-secundaria);
    border: var(--cor-secundaria);
    opacity: 80%;
    transition: .5s ease;
    color: white;
}
.nav-pills .nav-link.active:hover, .btn-primary:hover{
    background-color:var(--cor-secundaria);
    opacity: 100%;
}

#hero{
    background-image: url(https://via.placeholder.com/1588x800);
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}
.alinhamento{
    height: 800px;
}
.titulo--hero, .descricao--hero{
    color: white;
}
.titulo{
    font-size: 50px;
}
.descricao{
    text-align: justify;
}

#impulsioneResultados{
    background-color: #f8f9fa;
}

#direcionandoTrafego, #impulsioneResultados, #diferenciais{
    padding: 100px 0;
}

.diferenciais-card{
    background-color: var(--cor-secundaria);
    color: white;
    border-radius: 16px;
    box-shadow:10px 10px 20px rgba(0,0,0,.5);
    transition: .5s ease;
    cursor: default;
}
.diferenciais-card:hover{
    scale: 1.05;
}
.btn-secondary{
    background-color: #4c0bce;
    border: 2px solid white;
    opacity: 80%;
    transition: .5s ease;
    color: white;
}
.btn-secondary:hover{
    background-color: #4c0bce;
    border: 2px solid white;
    opacity: 100%;
}