:root{
    --cor-principal:#4c0bce;
    --cor-secundaria:#E04600;
    --background-faq:#e04700dc;
}

.navbar-brand-logo{
    max-height: 50px;
}
header{
    box-shadow:10px 10px 20px rgba(0,0,0,.2);
}
.btn-contorno{
    border:3px solid var(--cor-secundaria);
    color: white;
    font-weight: bold;
    box-shadow:10px 10px 20px rgba(0,0,0,.2);
}
.btn-contorno:hover{
    border:3px solid var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    color: white;
}
.btn-contato{
    border:3px solid var(--cor-principal);
    background-color: var(--cor-principal);
    color: white;
    opacity: 70%;
    transition: .2s;
    font-weight: bold;
    box-shadow:10px 10px 20px rgba(0,0,0,.2);
}
.btn-contato:hover{
    border:3px solid var(--cor-principal);
    background-color: var(--cor-principal);
    opacity: 100%;
    color: white;
    font-weight: bold;
}
.nav-pills .nav-link.active, .btn-primary{
    background-color:var(--cor-secundaria);
    border: var(--cor-secundaria);
    transition: .5s ease;
    color: white;
    font-weight: bold;
}
.nav-pills .nav-link.active:hover, .btn-primary:hover{
    background-color:var(--cor-secundaria);
    opacity: 100%;
}
.activo{
    background-color:var(--cor-principal);
    border: var(--cor-principal);
    opacity: 80%;
    font-weight: bold;
    color: white;
}
.activo:hover{
    background-color:var(--cor-principal);
    color: white;
    transition: .5s ease;
    opacity: 100%;
}
#hero{
    height:100vh;
    width:100%;
    background:white;
    display:flex;
    align-items:center;
    justify-content: center;
}
#hero::after {
    width:100%;
    height:100%;
    content: '';
    position:absolute;
    z-index:10;
    top:0;
    left:0;
    background:rgba(0, 0, 0, 0.80)
}
#hero video {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    object-fit:cover;
    font-family:'object-fit: cover';
}
#hero .texture {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:15;
}


#hero .caption {
    position:relative;
    z-index:20;
    text-align:center;
    color:#ffffff;
}
.titulo--hero{
    font-size: 60px;
    font-weight: bold;
    color: #e4e4e4;
    text-align: start;
}
.descricao--hero{
    font-size: 20px;
    color: #e4e4e4;;
    text-align: justify;
}
.alinhamento{
    height: 800px;
}
.titulo{
    font-size: 50px;
    font-weight: bold;
}
.descricao{
    text-align: justify;
}
.destaque{
    color: var(--cor-secundaria);
}
#impulsioneResultados{
    background-color: #f8f9fa;
}
#direcionandoTrafego, #impulsioneResultados, #diferenciais{
    margin-bottom: 100px;
}
#impulsioneResultados,#pacotes,#faq{
    padding: 100px 0;
}
.imagem{
    border-radius: 16px;
}
.diferenciais-card{
    background-color: var(--cor-principal);
    color: white;
    border-radius: 16px;
    box-shadow:10px 10px 20px rgba(0,0,0,.5);
    cursor: default;
    
}
.diferenciais-card-destaque{
    scale: 1.1;
}
.btn-secondary{
    background-color: #4c0bce;
    border: 2px solid #4c0bce;
    transition: .5s ease;
    color: white;
}
.btn-secondary:hover{
    background-color: #4c0bce;
    border: 2px solid white;
    opacity: 100%;
}
.titulo-diferenciais{
    margin-bottom: 90px;
}
#pacotes{
    background-color: var(--cor-secundaria);
    color: white;
}
.pacotes--descricao{
    font-size: 20px;
    margin-top: 30px;
}
.pacotes--list{
    list-style: none;
}
.pacotes--list-item i {
    vertical-align: middle;
    margin-right: 10px;
    font-size: 24px;
    color: #F8F9FA;
}
.pacotes--list-item{
    margin-bottom: 8px;
}
#clientes{
    background-color: var(--cor-secundaria);
    color: white;
}
#clientes{
    padding-bottom: 100px;
}
.clientes--card{
    padding: 30px;
}
.clientes--carrossel--card{
    text-align: start;
}
.clientes--carrossel--card--estrelas{
    font-size: 12px;
}
.clientes--carrossel--card--titulo{
    font-size: 20px;
}
.clientes--carrossel--card--avatar{
    border-radius: 100px;
}
.carrossel--item--imagem{
    opacity: 60%;
}

#contato{
    background-color: var(--cor-principal);
    color: white;
}
.contato--list{
    list-style: none;
    padding: 0;
}
.contato--list--item{
    margin-bottom: 14px;
}
.contato--list--item--link{
    text-decoration: none;
    color: var(--cor-principal);
    font-size: 20px;
    opacity: 70%;
    transition: ease .5s;
}
.contato--list--item--link:hover{
    opacity: 100%;
}

.contato--list--item>i{
    font-size: 24px;
}
.contato--info{
    background-color: #F8F9FA;
    padding: 10px 30px;
    border-radius: 8px;
}
.contato--info--title{
    color: var(--cor-principal);
    font-weight: bold;
    font-size: 24px;
}
#faq{
    background-color: var(--cor-principal);
    color: white;
}
#contato hr{
    margin: 0 0 100px;
}

#accordionPanelsStayOpenExample{
    padding: 0 130px;
}
.accordion-button{
    background-color: #dadada;
}
.accordion-item{
    border: none;
    border-bottom: 1px solid #F8F9FA;
}
.accordion-body{
    background-color: var(--cor-principal);
    color: white;
    border: none;
}

#whatsapp{
    position: fixed;
    right: 40px;
    top: 90vh;
    max-width: 60px;
    max-height: 60px;
    height: 100%;
    width: 100%;
    padding: 8px;
    border-radius: 100%;
    background-color: #25D366;
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: ease .5s;
}
#whatsapp:hover{
    scale: 1.1;
}
#footer{
    padding: 20px 0 10px;
    background-color: var(--cor-principal);
    color: white;
}
.linkDev{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.devName{
    font-weight: bold;
    font-family: "Courier Prime", monospace;
}

@media (max-width:767px){
    .navbar-brand-logo{
        max-width: 150px;
        width: 100%;
    }
    .titulo--hero,.titulo{
        font-size: 30px;
    }
    .descricao--hero,.descricao{
        font-size: 14px;
    }
    .hero-container-col{
        padding: 40px;
    }
    .btn{
        font-size: 12px;
    }
    .titulo--preco{
        font-size: 40px;
    }
    .diferenciais-card-destaque{
        scale: 1;
    }
    #accordionPanelsStayOpenExample{
        padding: 0;
    }
    #faq{
        padding-bottom: 30px;
    }
    .contato--info{
        margin-top: 30px;
    }
}
@media (min-width:768px) and (max-width: 1200px){
    .titulo--hero{
        font-size: 60px;
    }
    .diferenciais-card-destaque{
        scale: 1;
    }
    .separador--pacotes{
        margin-top: 48px;
    }
    .contato--list--item--link{
        font-size: 16px;
    }
}